p {
  text-align: justify;
  line-height: 1.4;
}
ul {
  text-align: justify;
  line-height: 1.4;
}
li {
  text-align: justify;
  line-height: 1.4;
}



.md-typeset .admonition.func, .md-typeset details.func {
    border-left: .2rem solid #d12;
}
.md-typeset .admonition.func>.admonition-title, .md-typeset details.func>.admonition-title, .md-typeset details.func>summary {
    border-bottom: .1rem solid rgba(245, 245, 245, 1);
    background-color: rgba(245, 245, 245, 1);
}
.md-typeset .admonition.func>.admonition-title:before, .md-typeset details.func>.admonition-title:before, .md-typeset details.func>summary:before {
    color: #d12;
    background-color: #d12;
    content: "code"}


.lang-button {
	border-style: solid;
	border-width: 2px;
	border-color: white;
  border-radius: 8px;
	color: white;
	padding: 0.5em;
  font-weight: 500;
	text-align: center;
	display: inline-block;
	font-size: 140%;
	padding: 3px;
  margin-left: 0.5rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.lang-button-inactive {
	opacity: 0.45;
}

.lang-button-inactive:hover {
	opacity: 1.0;
}

